#paleta {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.color {
  display: flex;
  min-height: 120px;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px white;
  color:black;
  border-radius: 5px;
  
}


